<h1>タスク一覧</h1>
<% if logged_in? %>
  <p>ログイン完了ユーザ: <%= current_user.name %></p>
  <div>
    <%= link_to 'Logout', logout_path, method: :delete %>
  </div>
  
  <ul>
    <% @tasks.each do |task| %>
      <li><%= link_to task.id, task %> : <%= task.status %> &gt; <%= task.content %></li>
    <% end %>
  </ul>

<%= link_to '新規タスクの投稿', new_task_path %>
  
  
<% else %>
  <div>
    <%= link_to 'ユーザー登録はこちら！', signup_path %>
  </div>
  <div>
    <%= link_to 'ログイン', login_path %>
  </div>
  
<% end %>







 